<article class="conatiner-fluid">
    <header class="header container-fluid row bg-primary p-2">
        <h1 class="col text-white pt-2">JFteck</h1>
        <div class="p-2 w-50 d-flex justify-content-end">
            
                <a href="" class="text-white link m-3">Categorias</a>
                <a href="/categoria/Fomulario" class="text-white link m-3">Criar categorias</a>
        </div>
    </header>
</article>