<div class="container-sm m-5 alert alert-danger" role="alert">
  <h4 class="alert-heading">Deseja deletar a categoria {{catgoria.nome}}</h4>
  <hr/>
  <a href="/" class="btn btn-primary">Cancelar</a>
  <a href="/categoria/delete" class="btn btn-success">Confirmar</a>
</div>