{{#each erros}}
  <div class="container-sm w-50 my-3 pt-4 alert alert-danger" role="alert">
      <h4 class="alert-heading text-center">{{texto}}</h4>
      <p></p>
      <p class="mb-0"></p>
  </div>
{{/each}}

<div class="login container">
<h2 class="text-center text-decoration-underline my-4">Formulário de cadastro de Categorias</h2>

<form action="/categoria/cadastro" class="w-100  d-flex justify-content-center mt-5" method="post">
  <div class="form-grup w-50">
    <label class="form-label my-2" for="">Name:</label>
    <input class="form-control fs-5 my-3 border border-dark" type="text" name="name" id="email">

    <label class="form-label" for="">Slug:</label>
    <input class="form-control fs-5 my-3 border border-dark" type="text" name="slug" id="password">

    <button class="btn btn-primary w-100 my-3 fs-5" type="submit">cadastrar</button>
  </div>
</form>
</div>
<div class="container w-75 my-3 py-3">
  <a href="/" class="btn btn-primary fs-4">Cancelar</a>
</div>